---
---
import Cabecalho from '../components/cabecalho.astro';

<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Cabecalho/>
		<h1>My page</h1>
		<h1>My Astro page</h1>

		<h1>Meu site is working!</h1>

		<h3 style="color: red;">The third change</h3>
		<h6>cinco</h6>
	</body>
</html>
